.auth-container {
	display: flex;
	height: 100vh;
	flex-direction: row;
	justify-items: center;
	align-items: center;
}

.form-container {
	background: #ffffff;
	padding: 1.5em 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-between;
	flex-wrap: nowrap;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #000000c9;
}

ul {
	color: #a2a2a2;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	font-size: 1.75rem;

	li {
		padding: 0.5em;
		transition: all 100ms ease-in-out;

		&:hover {
			cursor: pointer;
			color: #f505fd9f;
		}

		&.active {
			color: #0099ad;
			font-weight: bold;
			&:hover {
				cursor: default;
				text-decoration: none;
			}
		}
	}
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;

	.form-entry {
		margin-bottom: 1em;
	}

	.form-input {
		padding: 1em;
		min-width: 250px;
		line-height: 1.5em;
		width: auto;
		border-radius: 7px;
		border: 1px solid #6a6a6a;
		margin: 0;
		margin-bottom: 0em;
	}

	.username {
		text-transform: lowercase;
		&::placeholder {
			text-transform: none;
		}

		&:-ms-input-placeholder { /* For Internet Explorer */
			text-transform: none;
		}

		&::-ms-input-placeholder { /* Microsoft Edge */
			text-transform: none;
		}
	}

	input:focus {
		border: 1px solid #0099ad;
		outline: none;
	}

	input[type="submit"] {
		background: #7a037e;
		color: #ffffff;
		border: none;
		text-transform: uppercase;
		margin: 0;
		transition: background 250ms ease-in-out;

		&:hover {
			cursor: pointer;
			background: #9e05a3;
		}

		&:active {
			outline: none;
			background: #4f0252;
		}

		&:focus {
			outline: none;
			box-shadow: 0px 0px 2px #4f0252;
		}

		&:disabled {
			background: #dddddd;
			cursor: default;
		}
	}
}

.error-message {
	color: red;
	padding: 0;
	margin: 0;
	font-size: 0.75rem;
	white-space: pre-line;
}
